{% extends 'admin/admin_welcome.html' %}
{% if request.session.admin_session %}
{% block hotel %}
<style>
    .title{
        font-size: 25px;
        color: #112d4e;
    }
</style>
    {% for x in messages %}
    <h3>{{ x }}</h3>
    {% endfor %}

<form action="{% url 'save_capacity_room' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="container">
    <table class="table">
    <tr>
        <th>
            <label for="d1" id="l1">Select Room Type</label>
        </th>
        <th>
            <select id="d1" class="form-control" name="rm">
                    {% for x in rooms %}
                    <option value="{{ x.id }}">{{ x.type }}</option>
                    {% endfor %}
            </select>
        </th>
    </tr>
    <tr>
        <th>
            <label for="d2" id="l2">Enter Capacity</label>
        </th>
        <th>
            <input type="text" class="form-control" name="cp">
        </th>
    </tr>
    <tr>
        <th>
            <label for="d2" id="l2">Enter Beds</label>
        </th>
        <th>
            <input type="text" class="form-control" name="beds">
        </th>
    </tr>
    <tr>
        <th colspan="2">
            <button type="submit" class="btn btn-success">Submit</button>
        </th>
    </tr>
    </table>
</div>

</form>
{% endblock %}
{% else %}
<h3>Please login..</h3>
{% endif %}

